@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --magnolia: #fffaff;
  --crayola: #3e92cc;
  --cadet: #2d3142;
  --sienna: #ee6c4d;
  --white: #ffffff;
  --radius: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 450px) {
  :root {
    font-size: 80%;
  }
}
