.Container {
  width: 90vw;
  max-width: 30rem;
  background-color: var(--white);
  box-shadow: 5px 5px 15px 0px #000000;
  color: var(--cadet);
  border-radius: var(--radius);
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.Header {
  padding: 2rem;
}

.Heading {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.HeaderLink {
  text-decoration: none;
  color: var(--crayola);
}

.HeaderLink:hover {
  text-decoration: underline;
}

.Message {
  margin-top: 1rem;
  color: var(--sienna);
  visibility: hidden;
}

.Show {
  visibility: visible;
}

.Form {
  width: 70%;
  padding: 1rem 0 4rem 0;
  margin: auto;
}

button {
  width: 100%;
  margin-top: 3rem;
}

input:not(:last-of-type) {
  margin-bottom: 2rem;
}

.Instructions {
  margin-top: 0.5rem;
}

.Instructions::before {
  content: "*";
  margin-right: 0.5rem;
}
